# Python bytecode / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
.venv_wsl/
.venv_linux/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE / editor settings
.idea/
.vscode/

# Local configuration / secrets
.env
*.pem
*.ppk

# Build / output artifacts
output/
output/**/*

# Debug artifacts
debug/
debug/**/*

# Local Excel result files
*.xlsx

# Tool caches
.ruff_cache/
.mypy_cache/
.pytest_cache/
.pdm-build/
.pixi
.cursorignore
.cursorindexingignore

